In [3]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [6]:
df = pd.read_csv("big_data_weather_desc.csv")
df.head(5)

,Unnamed: 0,mean_temperature_14,mean_temperature_13,mean_temperature_12,mean_temperature_11,mean_temperature_10,mean_temperature_9,mean_temperature_8,mean_temperature_7,mean_temperature_6,...,weather_description_0_2,weather_description_0_3,weather_description_0_4,weather_description_0_5,weather_description_0_6,weather_description_0_7,weather_description_0_8,weather_description_0_9,weather_description_0_10,weather_description_0_11
0,32,301.820000,301.871458,301.850625,300.702292,299.662292,299.835625,298.917917,299.906042,301.140417,...,broken clouds,broken clouds,broken clouds,broken clouds,broken clouds,broken clouds,broken clouds,broken clouds,broken clouds,broken clouds
1,37,289.209167,288.393333,287.710833,284.055417,284.982500,285.080833,285.735000,284.349583,286.960833,...,few clouds,few clouds,sky is clear,sky is clear,sky is clear,few clouds,sky is clear,few clouds,broken clouds,few clouds
2,38,291.423750,289.817083,289.204583,286.772083,287.036667,288.661667,289.655833,288.217500,288.348542,...,sky is clear,sky is clear,sky is clear,sky is clear,haze,broken clouds,broken clouds,sky is clear,sky is clear,broken clouds
3,39,286.851250,287.790833,287.182083,284.997500,284.630833,284.763750,287.650000,286.698750,286.762708,...,broken clouds,broken clouds,broken clouds,broken clouds,overcast clouds,overcast clouds,overcast clouds,broken clouds,overcast clouds,scattered clouds
4,40,295.885833,295.260000,291.550000,289.724167,289.685417,291.326458,292.360000,291.697917,293.228958,...,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear

In [2]:
def daterange(start_date, end_date):
    delta = timedelta(hours=1)
    while start_date < end_date:
        yield start_date
        start_date += delta

In [15]:
start = datetime(2012, 10, 1, 12, 00)
end = datetime(2017, 11, 30, 00, 00)

i = 0;
dates = []
for date in daterange(start, end):
    dates.append(date.strftime("%Y/%m/%d %H:%M"))
    i = i +1

In [35]:
## Latitude
cols = list(df.columns)
lat = pd.DataFrame()
lat['datetime'] = dates
for col in cols:
    lat[col] = df[col].iloc[1]
lat = lat.drop('City', axis=1)

In [37]:
## Longitude
cols = list(df.columns)
lng = pd.DataFrame()
lng['datetime'] = dates
for col in cols:
    lng[col] = df[col].iloc[2]
lng = lng.drop('City', axis=1)

In [38]:
## elevation
cols = list(df.columns)
elv = pd.DataFrame()
elv['datetime'] = dates
for col in cols:
    elv[col] = df[col].iloc[3]
elv = elv.drop('City', axis=1)

In [39]:
lat.to_csv("latitude.csv")
lng.to_csv('longitude.csv')
elv.to_csv('elevation.csv')